{{>header}}
<main id="wrap">
    <h1>Hello World</h1>
    <div>
        <form id="formAdmin">
            <input id="user" type="text" name="user"><br>
            <input id="password" type="text" name="password"><br>
            <button>Send</button>
        </form>
    </div>
</main>
{{>footer}}