{{>header}}
<main id="wrap">
    <h1>Hello World</h1>
    <div>
        <form id="form">
            <input id="firstName" type="text" name="firstName"><br>
            <input id="email" type="text" name="email"><br>
            <input id="dateField" type="date"><br>
            <input id="userQuestion" type="text" name="question"><br>
            <button>Send</button>
        </form>
    </div>
</main>
{{>footer}}